/* Write your CSS here */
.git-hub-repos-main-cont {
  padding: 20px;
  font-family: Lobster;
  color: Black;
  text-align: center;
}
.Language-filter-items-nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
  justify-content: center;
}
.repository-list-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.fail-heading {
  color: #0f172a;
  font-family: Bree serif;
}
